@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600&subset=latin-ext");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #47bdff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    text-decoration: none;
    font-size: .87rem;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 1.5rem;
    background-color: #fff;
    color: #47BDFF;
    padding: 1rem 2rem;
    font-weight: 900;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .64s ease-in-out;
}

.popup-inner {
    position: relative;
    /* bottom: -100vw; */
    top: -100vw;
    /* right: -100vh; */
    display: flex;
    align-items: center;
    max-width: 800px;
    max-height: 600px;
    width: 60%;
    height: 80%;
    background-color: #fff;
    transform: rotate(32deg);
    transition: .64s ease-in-out;
}

.popupphoto {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.popupphoto img {
    width: auto;
    height: 100%;
}

.popuptext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 4rem;
}

.popuptext h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #0A0A0A;
}

.popuptext p {
    font-size: .875rem;
    color: #686868;
    line-height: 1.5;
}

.popuptext a {
    text-decoration: none;
    color: #47BDFF;
}

.closepopup {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: #47BDFF;
    z-index: 4;
    font-size: .875rem;
    font-weight: 300px;
    top: -8px;
    right: -5px;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;

}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup:target .popup-inner {
    top: 0;
    right: 0;
    transform: rotate(0);
}