/** Code By Webdevtrick ( https://webdevtrick.com ) **/

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    max-width: 800px;
    margin: 10vmin auto 0;
    color: #fff;
    line-height: 1.5;
}

.info {
    text-align: center;
    font-size: 24px;
    color: #212121;
    text-transform: capitalize;
}

.nav-header .logo {
    width: 25%;
}

.nav-header nav {
    width: 75%;
}

header {
    background: #212121;
}

/* .nav-header {
    border-radius: 5px;
  } */

/* .logo {
    text-align: center;
    border-right: 1px solid #4d4d4d;
    padding: 12px 24px 13px;
  } */

.logo img {
    width: 100%;
    display: inline-block;
    /* vertical-align: middle; */
}

.item {
    padding: 12px 16px 13px;
}

.item:not(:last-child) {
    border-right: 1px solid #7e7e7e;
}

header, nav {
    font-size: 0;
}

.item {
    font-size: 24px;
}

.logo, .item, .middle {
    display: inline-block;
    vertical-align: middle;
}

.scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll::-webkit-scrollbar {
    display: none;
}

@media (max-width: 765px) {
    .item {
        font-size: 14px;
    }
}